/* GET INVOLVED - MOBILE */

.container {
  margin: 20vh auto 10vh;
  max-width: 1000px;
}

section.contact_desc,
section.contact {
  padding: 1rem;
  position: relative;
}

section.contact_desc .mascot {
  display: none;
}

section.contact {
  background-color: var(--cream);
  margin: 1rem;
  border-radius: 5px;
}

section.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--title-font);
  font-weight: 600;
  color: var(--dark);
}

section.contact input {
  padding: 0.5rem 1rem;
  border: none;
  font-family: var(--body-font);
}

section.contact .services_input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 2rem;
}

section.contact .services_input label {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 1rem;
}

@media (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  section.contact {
    padding: 2rem 3rem;
  }

  section.contact_desc .mascot {
    display: block;
    width: 200px;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
  }
}
