/* body {
  background-color: var(--cream);
} */

.mascot {
  background-image: url("../svg/mascot.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  aspect-ratio: 519.47 / 602.18;
  width: 175px;
}

.btn {
  display: inline-block;
  /* min-width: 100%;
  max-width: 300px; */
  padding: 1rem 2rem;
  background-color: var(--green-dark);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

/* HERO - MOBILE */

#hero {
  /* margin-top: 20vh; */
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: url("../svg/wave_v2.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 5%;
  aspect-ratio: 16 / 5;
}

#hero .speech_bubble {
  background-color: var(--cream);
  padding: 1.5rem;
  position: relative;
  max-width: 600px;
  margin: 6rem auto;
}

#hero .mascot {
  position: absolute;
  bottom: -12rem;
  right: 1rem;
}

/* HERO - DESKTOP */

@media (min-width: 800px) {
  #hero .mascot {
    right: -8rem;
    width: 200px;
  }
}

/* SEASONS - MOBILE */

article.season {
  position: relative;
  background-image: url("../svg/season_winter.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
  height: 200px;
  border: 1px solid var(--cream);
}

article.season a {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transition: transform 0.2s ease-in;
}

article.season a:hover {
  transform: scale(1.05);
}

/* SEASONS - DESKTOP */

@media (min-width: 800px) {
  section.seasons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    aspect-ratio: 2753 / 1325;
    /* max-width: 1200px; */
    /* margin: 1rem auto; */
  }

  article.season {
    height: 100%;
  }

  article.spring {
    background-image: url("../svg/season_spring.svg");
    background-position: 33%;
  }

  article.summer {
    background-image: url("../svg/season_summer.svg");
    background-position: 66%;
  }

  article.fall {
    background-image: url("../svg/season_fall.svg");
    background-position: 99%;
  }
}
