.mascot {
  background-image: url("../svg/mascot.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  aspect-ratio: 519.47 / 602.18;
  width: 175px;
}

.btn {
  display: inline-block;
  /* min-width: 100%;
  max-width: 300px; */
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--green-dark);
  color: var(--cream);
  text-transform: uppercase;
  text-align: center;
}

/* HERO - MOBILE */

#hero {
  margin-top: 20vh;
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  position: relative;
}

#hero .speech_bubble {
  background-color: var(--cream);
  padding: 1rem;
}

#hero .mascot {
  position: absolute;
  bottom: 3rem;
  right: 1rem;
}

/* HERO - DESKTOP */

@media (min-width: 800px) {
}

/* SEASONS - MOBILE */

article.season {
  height: 200px;
  position: relative;
}

article.season a {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transition: transform 0.2s ease-in;
}

article.season a:hover {
  transform: scale(1.05);
}

/* SEASONS - DESKTOP */

@media (min-width: 800px) {
  section.seasons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  article.season {
    height: 500px;
  }
}

/* DISCOVER HERO - MOBILE */

#discover_hero {
  aspect-ratio: 16 / 12;
  background-image: url("../svg/season_fall.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 75%;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
}

#discover_hero h1 {
  padding: 1rem;
  font-size: 2rem;
}

#discover_hero h1.season {
  display: none;
}

#discover_hero h1.no_season {
  min-width: 250px;
  display: none;
}

#discover_hero h1.no_season span {
  font-family: var(--title-font);
  font-size: 1.25rem;
}

.discover_menu {
  background-color: var(--cream);
}

.discover_menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  justify-content: space-evenly;
  margin: auto;
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.5rem;

  max-width: 1200px;
}

@media (min-width: 800px) {
  #discover_hero {
    aspect-ratio: 16 / 5;
  }

  #discover_hero h1 {
    font-size: 6rem;
  }

  #discover_hero h1.no_season span {
    font-size: 3rem;
  }

  .season_menu a:hover {
    color: var(--green-dark);
  }
}

/* MUSHROOM LIST */

.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}

article.mushroom_card {
  display: contents;
}

article.mushroom_card img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  max-height: 260px;
}

article.mushroom_card a {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 5px 10px #d8d8d8;
  transition: transform 0.2s ease-in;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0.5rem;
}

article.mushroom_card h1,
article.mushroom_card h2 {
  font-family: var(--title-font);
}

article.mushroom_card h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 0;
  padding: 1rem 1rem 0;
}

article.mushroom_card h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: none;
  padding: 0 1rem 1rem;
}

@media (min-width: 800px) {
  article.mushroom_card a:hover {
    transform: scale(1.02);
  }
}
