/* IMPORT - GOOGLEFONTS */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");

/* IMPORT - WEBFONT */

@font-face {
  font-family: "florest", sans-serif;
  src: url("../webfont_florest/FlorestRegular.woff2") format("woff2"),
    url("../webfont_florest/FlorestRegular.woff") format("woff");
}

:root {
  /* FONTS */
  --display-font: "florest", sans-serif;
  --title-font: "Sofia Sans Semi Condensed", serif;
  --body-font: "Lato", serif;

  /* COLOURS */
  --cream: #fff6e1;
  --green-light: #788c64;
  --green-dark: #3d654d;
  --rust: #693d31;
  --red: #d34c49;
  --yellow: #f2c744;
  --dark: #232323;
}
